.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.container .header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 10px;
}

.chip {
  border-radius: 20px;
  color: #202020;
  border: 1px solid grey;
  padding: 3px 8px;
  cursor: pointer;
  transition: .25s;
}

.chip:hover{
  color: #009efd;
  border: 1px solid #009efd;
}

.activeChip {
  border: 1px solid #009efd;
  color: #009efd;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
}

.body {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
